- var leng = "ru"
- var scripts = true
- var jQuery3 = true
- var myTitle = "Главная страница"
- var descr = ""
//- - var googleFonts = ``
- var active = "class='active'"


                //- li.nav__iten: a.nav__link.active(href="index.html") Главная
                //- li.nav__iten: a.nav__link(href="blog.html") Блог
                //- li.nav__iten: a.nav__link(href="portfolio.html") Портфолио
                //- li.nav__iten: a.nav__link(href="contacts.html") Контакты
                //- li.nav__iten: a.nav__link(href="cart.html") Корзина