.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transform: all 0.6s;
  &.active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    position: relative;
    width: 345px;
    height: 100%;
    padding: 24px 25px 50px 40px;
    background: $orange;
    transition: all 0.6s;
    z-index: 10;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
  }
  nav {
    margin-top: 87px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    padding-left: 35px;
    height: 290px;
  }
  &__link {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    @include before_circle2;
    a {
      color: $white;
      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }
  &__social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    // margin-left: 88px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    bottom: 50px;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.7;
  }
}
