.price {
  padding-top: 66px;
  &__wrapper {
    margin-top: 60px;
    padding: 0 50px;
    display: grid;
    grid-template: repeat(3, minmax(40px, auto)) / repeat(
        auto-fit,
        370px
      );
    grid-auto-rows: minmax(40px, auto);
    row-gap: 15px;
    justify-content: space-between;
  }
  &__item {
    display: grid;
    grid-template: auto auto / auto auto;
    &-title,
    &-descr {
      padding-left: 26px;
    }
    &-price {
      text-align: right;
    }
    &-descr {
      grid-column: 1 / 3;
    }
  }
}
