.resume {
  padding-top: 126px;
  &__subtitle {
    top: 6px;
  }
  &__wrapper {
    padding: 60px 0 0 65px;
    display: grid;
    grid-template-columns: 425px 425px;
    column-gap: 136px;
    * {
      margin: 0;
    }
  }
  &__column {
    position: relative;
    display: grid;
    grid-template-rows: 1fr repeat(2, minmax(100px auto));
    row-gap: 45px;
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% - 25px);
      background-color: $black;
      top: 23px;
      left: 8px;
      z-index: -5;
    }
    &-title {
      // position: relative;
      padding-left: 43px;
      // @include before_circle;
      // &::before {
      //   width: 16px;
      //   height: 16px;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   left: 0px;
      // }
    }
    &-wrapper {
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-template-rows: repeat(2, minmax(39px auto));
      gap: 12px 18px;
      padding-left: 43px;
    }
    &-icon {
      position: relative;
      display: flex;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 35px;
        background-color: $black;
        top: 50%;
        left: -35px;
        z-index: -5;
      }
      img {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      // @include before_circle;
      // &::before {
      //   top: 0;
      //   left: 0;
      // }
    }
    &-descr {
      grid-column: 1/3;
    }
  }
}
