.before_center {
  position: relative;
  @include before_circle;
  &::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.before_left {
  position: relative;
  @include before_circle;
  &::before {
    top: 0;
    left: 0;
  }
}
.before_circle16 {
  position: relative;
  @include before_circle;
  &::before {
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }
}
